.title_h2 {
    margin-top: 20px;
    text-align: center;
}

.title_sobre_nosotros {
    margin-top: -5px;
    padding: 20px 0;
    text-align: center;
    color: aliceblue;
    background-color: var(--color-primary);
    border-bottom-left-radius: var(--container-border);
    border-bottom-right-radius: var(--container-border);
}

.sobre_nosotros {
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    padding: 0 20px;
}