.header-backoffice {
    position: relative;
    box-sizing: border-box;
    height: 80px;
    width: 100%;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-header);
    box-shadow: 0px 6px 6px -4px rgba(128, 128, 128, 0.408);
}

.sidebar-controler {
    border: none;
    width: 50px;
    height: 50px;
    font-size: 1.5em;
    border-radius: 50%;
    background-color: var(--color-primary);
    transform: rotate(90deg);
    transition: transform .3s ease-in;
}

.sidebar-controler:hover {
    transform: scale(110%) rotate(90deg);
}

.logo-header {
    height: 75%;
    display: flex;
    align-items: center;
    top: 20px;
    right: 20px;
}

.logo-header a,
.logo-header a img {
    height: 100%;
}