.card_container {
    width: 100%;
    min-height: 450px;
    padding: 15px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

@media screen and (max-width: 550px) {
    .card_container {
        box-sizing: border-box;
        padding: 10px 10px 0 10px;
        width: 100%;
        height: 450px;
        display: flex;
        justify-content: flex-start;
        flex-flow: row nowrap;
        overflow-x: scroll;
    }

    .card_container::-webkit-scrollbar {
        height: 10px;
        background-color: transparent;
        border-radius: 5px;
    }

    .card_container::-webkit-scrollbar-thumb {
        background-color: rgba(102, 194, 237, 0.802);
        border-radius: 5px;
    }
}