.list-container .list-card{
  max-width: 448px;
}

.list-card {
  box-sizing: border-box;
  display: flex;
  max-width: 448px;
  width: 100%;
  height: 230px;
  border: 1px solid black;
  border-radius: 20px;
  font-size: 13px;
}

.list-card.primary {
  background-color: var(--color-card-primary);
  border-color: var(--color-card-primary-strong);
}

.list-card.secondary {
  background-color: var(--color-card-secondary);
  border-color: var(--color-card-secondary-strong);
}

.list-card.tertiary {
  background-color: var(--color-card-tertiary);
  border-color: var(--color-card-tertiary-strong);
}

.list-card-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.list-card-image img {
  width: 85%;
  border-radius: 20px;
  max-height: 200px;
  min-height: 150px;
}

.list-card-content {
  width: 50%;
}

.list-card-text {
  padding: 15px;
  height: 70%;
  overflow: hidden;
  margin-bottom: 10px;
  font-weight: 400;
}

.list-card-btn {
  height: 38px;
  font-size: 13px;
  margin: 0;
}

.list-card-link {
  width: 80%;
  align-self: center;
}

.list-card-btn-div {
  display: flex;
  height: 20%;
  justify-content: center;
}

@media (max-width: 576px) {
  .list-card {
    font-size: 12px;
    height: 170px;
  }

  .list-card-image img {
    max-height: 150px;
    min-height: 100px;
  }

  .list-card-text {
    padding: 10px;
    margin-bottom: 0;
  }

  .list-card-btn {
    font-size: 12px;
  }
}
