.card-detail{
  margin: 1rem auto;
  width: 80%;
  display: flex;
  flex-direction: column;
  font-size: 1.1rem;
  align-items: center;
  border-radius: var(--container-border);
  padding: 1rem;
  box-shadow: var(--container-shadow);
}

div.card-text p {
  text-align: justify;
  margin-top: 0.5rem;
  margin-bottom: 0;
  padding: 1rem 1rem 0;
}

.card-date {
  align-self: end;
}

.card-image {
  width: 90%;
  max-width: 700px;
  border-radius: var(--container-border);
}

.primary .card-image {
  box-shadow: 4px 4px 15px var(--color-primary);
}

.secondary .card-image {
  box-shadow: 4px 4px 15px var(--color-secondary);
}

.tertiary .card-image {
  box-shadow: 4px 4px 15px var(--color-tertiary);
}

.card-detail .button {
  margin-top: 1rem;
}

@media (min-width: 576px) {
  .card-detail{
    font-size: 1.2rem;
  }

  .card-image {
    max-width: 525px;
  }
}

@media (min-width: 768px) {
  .card-detail{
    font-size: 1.3rem;
  }

  .card-image {
    width: 90%;
    max-width: 768px;
  }

  .card-detail .button {
    width: 45%;
    align-self: end;
  }
}

@media (min-width: 992px) {
  .card-detail{
    font-size: 1.5rem;
    max-width: 990px;
  }
}
