.input_textArea {
    border-radius: var(--border);
    border-color: rgba(128, 128, 128, 0.414);
    padding: 15px 10px;
    resize: none;
}

.input_textArea::-webkit-input-placeholder {
    color: rgba(128, 128, 128, 0.728);
}
.input_textArea::-webkit-scrollbar {
    width: 5px;
    background-color: var(--color-primary);
    border-radius: 999px;
}

.input_textArea::-webkit-scrollbar-thumb {
    background-color: var(--color-tertiary);
    border-radius: 999px;
}

.editorStyles :nth-child(3) ::-webkit-scrollbar {
    width: 5px;
    background-color: var(--color-primary);
    border-radius: 999px;
}

.editorStyles :nth-child(3) ::-webkit-scrollbar-thumb {
    background-color: var(--color-tertiary);
    border-radius: 999px;
}