.ck.ck-editor__editable > .ck-placeholder::before {
    color: rgba(0, 0, 0, 0.47);
}

.input-preview-image {
    display: flex;
    flex-direction: column-reverse;
    align-content: flex-start;
}

.input-label-container {
    flex-grow: 1;
}

.preview-container {
    align-self: center;
    border: 2px solid rgba(0, 0, 0, 0.196);
    height: 200px;
    width: 200px;
    border-radius: 999px;
    background-position: center;
    background-size: cover;
}

.preview-container img {
    width: 100%;
}

