.sidebar-active {
    position: absolute;
    height: min-content;
    width: 250px;
    background-color: var(--color-header);
    z-index: 999;
    transition: all .3s ease-in;
    box-shadow: 8px 0px 6px -4px rgba(128, 128, 128, 0.408);
}

.sidebar-hidden {
    position: absolute;
    height: max-content;
    width: 0;
    overflow-x: hidden;
}