.sidebar-active {
    position: absolute;
    height: min-content;
    width: 250px;
    z-index: 999;
    background-color: var(--color-header);
    box-shadow: 8px 0px 6px -4px rgba(128, 128, 128, 0.408);
    transition: transform 0.2 0 ease;
}

.sidebar-hidden {
    z-index: 999;
    position: absolute;
    width: 250px;
    transform: translateX(-100%);
    height: max-content;
    overflow-x: hidden;
    transition-property: transform;
    transition-duration: 0.2s;
    transition-timing-function: ease;
    background-color: var(--color-header);
}

.sidebar-active a {
    color: var(--color-on-tertiary-card);
}

.sidebar-active a:hover {
    color: var(--color-on-tertiary-card);
}

@media screen and (min-width: 450px) {
    .sidebar-active {
        width: 400px;
        transition-property: transform;
        transition-duration: 0.3s;
        transition-timing-function: ease;
    }
}