:root {
  --color-primary: #DB5752;
  --color-primary-strong: #E31C15;
  --color-secondary: #FAFA88;
  --color-secondary-strong: #ffff1f;
  --color-tertiary: #9AC9FB;
  --color-tertiary-strong: #67adf8;
  --color-header: #FFFFFF;
  --color-footer: #505050;
  --text-color: black;
  --text-color-inverted: white;
  --border: 5px;
  --container-border: 10px;
  --button-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  --container-shadow: 0 0 15px 5px rgba(141, 127, 127, 0.123);
}

@media (min-width: 576px) { }

@media (min-width: 768px) { }

@media (min-width: 992px) { }

@media (min-width: 1200px) { }

@media (min-width: 1400px) { }