.image {
  width: 100%;
  object-fit: cover;
  display: block;
}

.content {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0.5rem;
  background-color: rgba(45, 45, 45, 0.53);
  color: rgb(232, 230, 227);
  box-sizing: border-box;
  border-top-left-radius: var(--container-border);
  border-top-right-radius: var(--container-border);
}

.title {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

div.text p {
  margin-top: 0;
  margin-bottom: 0;
}
