.toggle-theme {
	align-self: center;
	background: none;
	border: none;
	font-size: 1.5rem;
	border-radius: 50%;
	width: 45px;
	height: 100%;
}

.toggle-theme svg{
	width: 100%;
	height: 100%;
}

button:focus-visible{
	outline: unset;
}