
.auth-title {
  margin-top: 50px;
  width: 89px;
  height: 24px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #2d3748;
}

.auth-subtitle {
  margin-top: 30px;
  margin-bottom: 50px;
  width: 422px;
  height: 48px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 48px;
  color: #1a202c;
}

.auth-suggestion {
  align-self: center;
  margin-top: 100px;
  font-size: 18px;
  text-align: center;
  justify-content: center;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  color: #616161;
}

.auth-link {
  margin-left: 5px;
  color: var(--color-primary);
}

@media (max-width: 1200px) {
  .auth-container{
    max-width: 90%;
  }
  .auth-title{
    margin-top: 20px;
  }
  .auth-subtitle{
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 24px;
  }
  .auth-suggestion{
    margin-top: 20px;
  }
  .auth-error{
    font-size: 14px;
  }
}

@media (max-width: 992px) {
  .auth-title{
    margin-top: 10px;
  }
  .auth-subtitle {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
  }
  .auth-suggestion {
    margin-top: 20px;
    font-size: 16px;
  }
  .auth-btn,
  .auth-input {
    padding: 5px;
  }
  .auth-input{
    font-size: 16px ;
  }
  .auth-error {
    font-size: 10px;
  }
  .auth-container {
    margin: 10px auto;
    gap: 5px;
  }
}
@media (max-width: 768px) {
  .auth-title{
    margin-top: 0px;
  }
  .auth-subtitle {
    margin-top: 0px;
    margin-bottom: 5px;
    font-size: 18px;
    height: 30px;
  }
  .auth-suggestion {
    font-size: 12px;
    margin-top: 5px;
  }
  
  .auth-btn{
    font-size: 14px !important;
    padding: 5px !important;
    height: auto;
  }
  .auth-input {
    padding: 5px !important;
    font-size: 12px;
  }
  .auth-error {
    font-size: 10px;
    height: auto;
  }
  .auth-container {
    margin: 0px auto;
  }
}
@media (max-width: 576px) {
  * {
    background-color: #e5e5e5;
  }
  .logo {
    margin-top: 20vw;
    margin-bottom: 20vw;
  }
  
  .auth-btn,
  .auth-input {
    width: 328px;
    height: 40px;
    background: #ffffff;
    border-radius: 8px;
    padding: 5px;
    font-family: Poppins;
    font-size: 12px;
    font-weight: 600;
    line-height: 12px;
    letter-spacing: 0em;
    text-align: center;
    margin: 5px auto;
  }
  .auth-btn{
    background-color: var(--color-primary)
  }
  .auth-container{
    width: 500px;
  }
  .auth-error{
    font-size: 14px;
    text-align: center;
  }
}
